:root {
    --spacing-one: 0.125rem;
    --spacing-two: 0.25rem;
    --spacing-three: 0.5rem;
    --spacing-four: 0.75rem;
    --spacing-five: 1rem;
    --spacing-six: 1.5rem;
    --spacing-seven: 2rem;
    --spacing-eight: 2.5rem;
    --spacing-nine: 3rem;
    --spacing-ten: 4rem;
    --spacing-eleven: 5rem;
    --spacing-twelve: 6rem;
    --spacing-thirteen: 10rem;
}
